<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/Content/styles")

</head>
<body>

    <nav class="blue darken-1" >
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Foo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>@Html.RouteLink("Alumnos", "students.index")"</li>
                </ul>
            </div>

        </div>

    </nav>

    <section class="container">
        @RenderBody()
    </section>



    @Scripts.Render("~/bundles/jquery")

    @RenderSection("scripts", required: false)
</body>
</html>

